.mode{
    background-color:black;
}



nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav {
    box-shadow: 0 0 20px black;
    background: linear-gradient(to right, #282b68, #51548e);
    padding: 10px;
    border-radius: 20px;
    width: 88%;
}

a {
    text-decoration: none;
    color: rgb(0, 136, 136);
    margin: 0 15px;
}

a:hover {
    text-decoration: underline;
}

.about{
    display:flex;
    padding:0.5%;
}

.image img {
    padding:10px;
    border-radius: 60px;
    border:20px solid #a9532b;
    margin-top: 20px;
}

.txt{
    padding:0.5%;
    background: linear-gradient(to right, #282b68, #51548e);
    margin-top:20px;
    width: 98%;
    border-radius: 60px;
    font-size: large;
    margin-left: 20px;
    text-align-last: left;
    color: rgb(0, 136, 136);
;
    
}
/* TODO : change colour for dark mode */
.education{ 
    background: linear-gradient(to right, #282b68, #51548e);
    margin-top:20px;
    width: 98%;
    border-radius: 60px;
    font-size: large;
    margin-left: 20px;
    color: rgb(0, 136, 136);
;
}

.social-icons {
    list-style-type: none;
    padding: 0;
}
.social-icons li {
    display: flex;
    margin-right: 10px;
}
.social-icons li:last-child {
    margin-right: 0;
}
.social-icons a {
    text-decoration: none;
    color: #000;
}

button {
    padding:10px;
    background: yellow;
    width: 10%;
    border-radius: 60px;
    margin-left: 20px;
    text-align: center;
    color: black;
    margin: auto;
}

button:hover{
    cursor: pointer;
}

.navbutton{
    display:flex;
    align-items: center;
    align-content: center;
}